.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

  .navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .navigation .button {
    background-color: #ac549d;
    margin: 20px;
  }

  .navigation .button:hover {
    background-color: #642EFE;
    color: #00ffff;
  }

  .navigation .name {
    text-transform: capitalize;
    text-decoration: underline;
    color: #ac549d;
  }

  .navigation .name:hover {
    color: #00ffff;
  }

th, td {
    border: 1px solid #ac549d;
    padding: 10px;
    text-align: center;
    
}

.highlighted {
  background-color: #642EFE; /* Cor de fundo destacada */
  color: #ffffff; /* Cor do texto destacado */
}

.weekday-highlighted {
  background-color: #642EFE; /* Cor de fundo destacada */
  color: #ffffff; /* Cor do texto destacado */
}

th, td {
  cursor: pointer;
}

tr {
  color: #642EFE;
}

